*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}
@import url("../fonts/font.css");

:root{
    --background-c:#22313F;
    --color-t:#FFFFFF;
    --box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    --border-radius:5px;
    --danger-c:#f43838;
    --green-c:#0aa50a;
}
    $fuschia: #0aa50a;
    $button-bg: $fuschia;
    $button-text-color: #fff;
    $baby-blue: #f8faff;
body{
    display: grid;
    height: 100vh;
    place-items:center;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(9, 8, 8); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}


.todolist{
    width: 500px;
    min-height:700px;
    background-color: var(--background-c);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    .todolist__adder{
        width: 100%;
        height: 160px;
        position: relative;
        background-color: var(--background-c);
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        .todolistForm{
            display: flex;
            padding: 1rem;
            align-items: center;
            gap: 0 1rem;
            .input__wrapper{
                display: flex;
                align-items: center;
                padding: 1rem;
                flex: 1;
                height: 50px;
                background-color: var(--color-t);
                border-radius: var(--border-radius);
                box-shadow: var(--box-shadow);
                input{
                    border: none;
                    outline: none;
                    height: 100%;
                    flex: 1;
                    font-size: 18px;
                    margin-right: 10px;
                    color: var(--background-c);
                    caret-color: black;
                }
                i{
                    color: var(--danger-c);
                    cursor: pointer;
                }
            }
            button{
                position: relative;
                display: inline-flex;
                width: 120px;
                height: 55px;
                //perspective: 1000px;
                height: 50px;
                //padding: 0 1.25rem;
                font-size: 18px;
                border: none;
                cursor: pointer;
                border-radius: var(--border-radius);
                box-shadow: var(--box-shadow);
                background-color: var(--green-c);
                z-index: 10;
              }
              button a{
                font-size: 19px;
                letter-spacing: 1px;
                transform-style: preserve-3d;
                transform: translateZ(-25px);
                transition: transform .25s;
                background-color: blue;
                z-index: 100;
            
              }
              button a:before{
                width: 130px;
                height: 55px;
                position: absolute;
                content: "Create";
                display: flex;
                align-items: center;
                justify-content: center;
                //border: 5px solid black;
                box-sizing: border-box;
                box-shadow: var(--box-shadow);
                border-radius: var(--border-radius);
                background-color: var(--green-c);
                z-index: -1;
                
              }
              button a:after{
                width: 130px;
                height: 55px;
                position: absolute;
                content: "Created ✅";
                display: flex;
                align-items: center;
                justify-content: center;
                border: 5px solid black;
                box-sizing: border-box;
                box-shadow: var(--box-shadow);
                border-radius: var(--border-radius);
              }
              button a:before{
                color: #fff;
                //background: #000;
                transform: rotateY(0deg) translateZ(25px);
              }
              button a:after{
                color: var(--green-c);
                background-color: black;
                transform: rotateX(90deg) translateZ(25px);
              }
              button a:active{
                transform: translateZ(-25px) rotateX(-90deg);
              }
              
        }
        .todoList__controller{
            width: 100%;
            padding: 0 1rem;
            position: absolute;
            bottom: 1rem;
            .button{
              all: unset;
              width: 100px;
              height: 30px;
              font-size: 16px;
              background: transparent;
              border: none;
              position: relative;
              color:var(--color-t);
              cursor: pointer;
              z-index: 1;
              padding: 10px 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
              padding: 12px 20px;
            }
            
            .button::after,
            .button::before {
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              z-index: -99999;
              transition: all .4s;
            }
            
            .button::before {
              transform: translate(0%, 0%);
              width: 100%;
              height: 100%;
              background:#000;
              border-radius: 10px;
            }
            
            .button::after {
              transform: translate(10px, 10px);
              width: 35px;
              height: 35px;
              background: #ffffff15;
              backdrop-filter: blur(5px);
              -webkit-backdrop-filter: blur(5px);
              border-radius: 50px;
            }
            
            .button:hover::before {
              transform: translate(5%, 20%);
              width: 110%;
              height: 110%;
            }
            
            .button:hover::after {
              border-radius: 10px;
              transform: translate(0, 0);
              width: 100%;
              height: 100%;
              background-color: var(--danger-c);
            }
            
            .button:active::after {
              transition: 0s;
              transform: translate(0, 15%);
            }
        }
    }
.todolistitem__container{
    height: 480px;
    width: 100%;
    margin-top: 30px;
    overflow-y:auto;
    .todo__item{
        width: 94%;
        padding: 20px;
        background-color: var(--background-c);
        box-shadow: var(--box-shadow);
        margin: 20px auto;
        border-radius: var(--border-radius);
        animation: bounce 0.5s;
        word-break: break-all; 
        color: #fff;
        transition: 0.6s;
        position: relative;
        padding-right: 100px;
        &:hover{
            cursor: pointer;
            transition: 0.6s;
            transform: scale(1.05);
            box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
            background-color:#18212a;
            color: red;
        }
        &:hover{
          i{
            color: #fff;
          }
        }
        .bgChanger{
          width: 20px;
          height:20px;
          border-radius: 50%;
          position: absolute;
          right: 70px;
          top: calc(50% - 10px);
          &::-webkit-color-swatch {
            border: none;
            border-radius: 50%;
            padding: 0;
          }
          &::-webkit-color-swatch-wrapper {
            border: none;
            border-radius:50%;
            padding: 0;
          }
        }
        .check__remove{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          background-color:var(--danger-c);
          border-radius: 50%;
          position: absolute;
          right: 20px;
          top: calc(50% - 15px);
          z-index: 100;
          &:hover i{
            color: black;
          }
        }
    }
}
}
@keyframes bounce {
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(1);
    }
    40%{
        transform: scale(0.8);
    }
    60%{
        transform: scale(1);
    }
    80%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}



